# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HUMMINGBIRD

config ZMK_KEYBOARD_NAME
    default "Hummingbird"
config USB_DEVICE_MANUFACTURER
    default "Zakwaykway"

endif
